# core PyTorch libraries for deep learning
torch         # main PyTorch library
torchvision   # Utilities for image datasets and transforms

#data handling and analysis
numpy          # for numerical computations
pandas          # for data manipulation and CSV handling

#visualization
matplotlib      # [lotting library for graphs and curves
seaborn        # High-level statistical plotting (nicer than matplotlib)

# progress bars
tqdm           # Shows progress bars during training loops (good for evaluating training time)

# Jupyter notebooks
notebook       # To run interactive notebooks (.ipynb files)

# Optional: saving/loading Python objects
pickle5        # Advanced pickle for serializing objects (datasets, models)